# Environment variables
.env
.env.local
server/.env

# Firebase service account
server/config/serviceAccountKey.json

# Database
server/dsasolver.db
server/dsasolver.db-journal

# Dependencies
node_modules
server/node_modules

# Production
dist
dist-ssr
build
